*{box-sizing: border-box;}

@font-face {font-family: 'titulo';src: url(font/Pacifico-Regular.ttf);}
@font-face {font-family: 'texto';src: url(font/Poppins-Regular.ttf);}
@font-face {font-family: 'nav';src: url(font/Borel-Regular.ttf);}

:root {
    --gris: #8d8685;
    --blanco: #ffffff;
    --rojo1: #f51c16;
    --rojo2: #b21115;
    --rojo3: #5b070f;
}
html {scroll-behavior: smooth;}p{font-family: texto; padding: 25px; text-align: center; font-size: 1.5em; color: var(--rojo3);}
body{
    background-color: var(--gris); 
    margin: 0;
            padding: 50px;
            display: flex;
            justify-content: center; 
            align-items: center;     
            min-height: 100vh;   
}
.contenedor-img{
    display: flex;
    gap: 255px;
}

.seleccion img {
    width: 310px; 
    height: auto;    
}
.seleccion{
    background-color: var(--blanco);
    padding: 25px;
    border-radius: 55px;
}

.seleccion:hover{
    background-color: var(--gris);
    border-radius: 75px;
    outline: 5px solid #ffffff;
    transition: .4s;
    
}
.seleccion:hover p{
    color: var(--blanco);
}

@media (max-width: 970px) {
    .contenedor-img {
        flex-direction: column; 
    }
}
